{% load static %}
<html>
    <head>
        <head>
            <meta charset="utf-8"/>
            <title>End Page - levanté!</title>
            <link rel="stylesheet" href="{% static 'end.css' %}">
    </head>
    </head>
    <body>
        <h2 id="center-header">All done! Here is your list of ideas: </h2><br>
        <div id="problem-description" type="text" size="100"></div><br>
        <div id="center-ideas">
            <textarea readonly id="ideas" cols="50" rows="20">
            </textarea>
            <br>
        </div>
        <div id="center-button">
            <button id="new-session-button" onclick="newSession()">
                Start a New Session!
            </button>
        </div>
        {{ room_name|json_script:"room-name" }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            var token = '{{csrf_token}}';
                //Get problem description
            $.ajax({
                type: 'GET',
                headers: { "X-CSRFToken": token },
                url: '/get_question/',
                data: {
                    room_id: localStorage.getItem('roomId')
                },
                success: function (response) {
                    document.querySelector('#problem-description').innerHTML = response;
                },
            });     
            
            function copyFunction() {
                /* Get the text field */
                var copyText = document.getElementById("ideas");

                /* Select the text field */
                copyText.select();

                /* Alert the copied text */
                alert("Copied all ideas: \n" + copyText.value);
            }

            loadIdeas()
            function loadIdeas() {
                $.ajax({
                    type: 'GET',
                    headers: { "X-CSRFToken": token },
                    url: '/get_responses/',
                    data: {
                        page: 'end',
                        room_id: localStorage.getItem('roomId'),
                    },
                    dataType: "json",
                    success: function(response) {
                        if(response == "NULL869" || response == "none")
                            return
                        else {
                            current = response[0];
                            i=0;
                            while(current!=response[response.length]){
                                document.getElementById("ideas").value += "[idea "+i+ "]"+current.fields.response_text
                                // $.ajax({
                                //     type: 'GET',
                                //     headers: { "X-CSRFToken": token },
                                //     url: '/get_comments/',
                                //     data: {
                                //         response_id: response[i].pk,
                                //     },
                                //     success: function (result) {
                                //         const comments = JSON.parse(result);
                                //         for (index in comments) {
                                //             document.getElementById("ideas").value += 'comment['+k+'] ' + comments[index]+ '\n';
                                //         }
                                //     },
                                // });
                                document.getElementById("ideas").value +='\n \n';
                                i++;
                                current = response[i];
                            }
                        }
                    },
                });
            }

            function newSession(){
                window.location.pathname = window.location.pathname.split(roomName)[0];
            }
        </script>
    </body>
</html>