<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Levante</title>
    </head>
    <body>
        <h1>Levante</h1>
        <h2>Brainstorming made easy!</h2>
        Enter room join key 
        <input id="room-name-input" type="text" size="100">
        <input id="room-name-submit" type="button" value="Join"><br>
        Would you like to create a new room?
        <input id="create-room" type="button" value="Create">

        <script>
            document.querySelector('#create-room').onclick = function(e) {
                var roomName = Math.random().toString(36).substring(7); //generates a random room name
                window.location.pathname = '/rooms/' + roomName + '/'+"admin"+'/';
            };
            document.querySelector('#room-name-submit').onclick = function(e) {
                var roomName = document.querySelector('#room-name-input').value;
                var user = Math.floor(Math.random()*100)
                window.location.pathname = '/rooms/' + roomName + '/'+user+'/';         
            }
        </script>
    </body>
</html>


