{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Inspiration - levanté!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'inspiration.css' %}">
</head>

<body>
    <div class="main-container">
        <img class='logo-title' src="{%  static 'images/logo-title.png' %}" alt="">
        <div id="problem-description-text-center">
            <div id="problem-description" class="problem-description" type="text" size="100"></div>
            <br>
        </div>
        <div id="check-ideas-text-center">
            <div class="page-instructions">Check out some other ideas!</div>
        </div>
        <div id="idea-container">
            <div class="response-box" type="text" id="idea-one"></div>
            <div class="response-box" type="text" id="idea-two"></div>
            <div class="response-box" type="text" id="idea-three"></div>
        </div>
        
        <div id="timer-div"> <span id="time">10</span> </div>
        <!-- <div class="meter">
            <span style="width: 40%"></span>
        </div> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        var token = '{{csrf_token}}';
        //Get problem description
        $.ajax({
            type: 'GET',
            headers: { "X-CSRFToken": token },
            url: '/get_question/',
            data: {
                room_id: localStorage.getItem('roomId')
            },
            success: function (response) {
                document.querySelector('#problem-description').innerHTML = response;
            },
        });
        // Loads the first three ideas
        loadNextIdeas();

        function getIdeas() {
            const roomId = localStorage.getItem('roomId');
            return $.ajax({
                type: 'GET',
                headers: { "X-CSRFToken": token },
                url: '/get_responses/',
                data: {
                    page: 'inspiration',
                    room_id: roomId,
                },
                success: function(response) {
                    if (response == "NULL869" || response == "none")
                    {
                        return;
                    }
                    return response;
                },
            });
        }

        async function loadNextIdeas() {
            const ideaElements = ['idea-one', 'idea-two', 'idea-three'];
            const userId = localStorage.getItem('userId');

            let ideas = await getIdeas();
            ideas = JSON.parse(ideas);
            // TODO: pick ideas randomly instead of in order
            // TODO: only get ideas that came from other users
            for (let i = 0; i < 3 ; i++) {
                if (ideas[i] && ideas[i].fields.user_id != userId) {
                    document.getElementById(ideaElements[i]).innerHTML = ideas[i].fields.response_text;
                }
            }
        }
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = seconds; //minutes + ":" + seconds;
                if (--timer < 0) {
                    window.location.pathname = window.location.pathname.split("inspiration")[0] + '2/';
                }
            }, 1000);
        }

        window.onload = function () {
            display = document.querySelector('#time');
            // TODO: replace with 30
            startTimer(1500, display); //switch to 30 seconds
        };
    </script>
</body>

</html>