<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Peepee Room</title>
    </head>
    <body>
        <input id="problem-description" type="text" size="100"><br>
        <textarea readonly id="idea-one" cols="50" rows="20" onclick="vote('one')"></textarea>
        <textarea readonly id="idea-two" cols="50" rows="20" onclick="vote('two')"></textarea>
        <textarea readonly id="idea-three" cols="50" rows="20" onclick="vote('three')"></textarea><br>
        <h3>Check out some other ideas!</h3><br>
        <div>You have <span id="time">10</span> seconds!</div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            // Loads the first three ideas
            loadNextIdeas();
            $.ajax({
                type: 'GET',
                url: '/get_question/',
                data: {
                    room_id: localStorage.getItem('roomId')
                },
                success: function(response) {
                    document.querySelector('#problem-description').value = response;
                },
            });

            function getIdeas() {
                const roomId = localStorage.getItem('roomId');
                return $.ajax({
                    type: 'GET',
                    url: '/get_responses/',
                    data: {
                        page: 'inspiration',
                        room_id: roomId,
                    },
                    success: function(response) {
                        if (response == "NULL869" || response == "none")
                        {
                            return;
                        }

                        return response;
                    },
                });
            }

            async function loadNextIdeas() {
                const ideaElements = ['idea-one', 'idea-two', 'idea-three'];

                let ideas = await getIdeas();
                ideas = JSON.parse(ideas);

                // TODO: pick ideas randomly instead of in order
                // TODO: only get ideas that came from other users
                for (let i = 0; i < 3; i++) {
                    document.getElementById(ideaElements[i]).value = ideas[i].fields.response_text;
                }
            }

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = seconds; //minutes + ":" + seconds;
                    if (seconds == duration / 2) {
                        loadNextIdeas();
                    }
                    if (--timer < 0) {
                        window.location.pathname = window.location.pathname.split("inspiration")[0] + '2/';
                    }
                }, 1000);
            }

            window.onload = function () {
                    display = document.querySelector('#time');
                startTimer(15, display); //switch to 30 seconds
            };
        </script>
    </body>
</html>