{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Nominate - levanté!</title>
    <link rel="stylesheet" href="{% static 'nominate.css' %}">
</head>

<body>
    <h1 id="nominate-header">Nominate Ideas For Further Discussion</h1>
    <input type="image" name="don't nomniate" id="left-button" value="hey" src="{% static 'images/right-thumb.png' %}" onclick="loadNextIdea()">
    <div id="main-container">
        <input type="text" id="idea-current" value="idea will appear here"></input>
    </div>
    <input type="image" name="nominate" id="right-button" src="{% static 'images/left-thumb.png' %}" onclick="nominateIdea()">

    <div class="meter">
        <span style="width: 60%"></span>
    </div>



    {{ user_name|json_script:"user-name" }}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        var token = '{{csrf_token}}';
        const user = JSON.parse(document.getElementById('user-name').textContent);
        let currentIdea = null;
        let ideas = null;
        let count = 0;
        init();

        async function init() {
            ideas = await getIdeas();
            ideas = JSON.parse(ideas);
            length = Object.keys(ideas).length;
            loadNextIdea();
        }
        function getIdeas() {
            const roomId = localStorage.getItem('roomId');
            return $.ajax({
                type: 'GET',
                headers: { "X-CSRFToken": token },
                url: '/get_responses/',
                data: {
                    page: 'nominate',
                    room_id: roomId,
                },
                success: function(response) {
                    if (response == "NULL869" || response == "none")
                    {
                        return;
                    }
                    return response;
                },
            });
        }
        function loadNextIdea() {
            for(i=0+count;i<ideas.length;i++){
                var ideaObj = ideas[i];
                if(ideaObj.fields.check == 1){
                    continue;
                }
                else if (ideaObj.fields.check == 0){
                    //ensures we skip the ideas that have already been checked
                    count = i
                    break
                }
            }
            
            if(ideaObj.fields.check == 1)
                window.location.pathname = window.location.pathname.split("nominate")[0] + 'development/';
            
            currentIdea = ideaObj.fields.response_text;
            document.getElementById("idea-current").value = currentIdea;
            ideaObj.fields.check = 1
            currentIdea = ideaObj.fields.response_text;
        }
        //updates the nomination parameter of the response and loads the next idea
        function nominateIdea(){
            const idea = document.querySelector('#idea-current').value;
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": token },
                url: '/upd_response/',
                data: {
                    response: idea,
                    check: "nominate"
                },
                success: function (response) {
                    
                },
            });
            loadNextIdea()
        }

    </script>
</body>
</html>