<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Home Page - levanté!</title>
    </head>
    <body>
        <h1>levanté!</h1>
        <h3>Your Key to Share</h3>
        <input type="text" value="room code" id="myInput" onclick="copyFunction()"><br>
        <input id="join-room" type="button" value="Enter Room" onclick="joinRoom()">
        {{ room_name|json_script:"room-name" }}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            // update room code  
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            document.getElementById("myInput").value = roomName;
            //called when copy button is clicked to copy text to clipboard and create a popup 
            function copyFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied link: " + copyText.value);
            }
            function joinRoom() {
                $.ajax({
                    type: 'POST',
                    url: '/join_room/',
                    data: {
                        roomKey: roomName,
                    },
                    success: function(response) {
                        const roomExists =  response;
                        if (roomExists == 1) {
                            var user = Math.floor(Math.random()*100)
                            window.location.pathname = '/rooms/' + roomName + '/'+user+'/1/';
                        } else {
                            alert('room not found');
                        }
                    },
                });
            }
        </script>
    </body>
</html>


