<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Brain Room</title>
    </head>
    <body>
        <h2>Problem Description</h2><br>
        <input id="problem-description" type="text" size="100">
        <input id="problem-submit" type="button" value="Submit" onclick="submitProb()"><br>
        <h3>Current Ideas</h3>
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send Idea"><br>
        <input type="text" value="room code" id="myInput">
        <button onclick="copyFunction()">Copy Room Code</button>
        {{ room_name|json_script:"room-name" }}
        {{ user_name|json_script:"user-name" }}
        <script>
            // update room code link
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            document.getElementById("myInput").value = roomName;

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/brainwriting/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if(data.message == null){
                    document.querySelector('#problem-description').value = data.problem ;
                    return 
                }
                if(data.user == user || user == "admin")
                   document.querySelector('#chat-log').value += ('['+data.user+']'+data.message + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            function submitProb(){
                if(user!= "admin")
                    return
                const problem = document.querySelector('#problem-description').value;
                chatSocket.send(JSON.stringify({
                    'message': null,
                    'problem': problem,
                    'user': user
                }));
            }
            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'problem': null,
                    'user': user
                }));
                messageInputDom.value = '';
            };
                            
                
            //called when copy button is clicked to copy text to clipboard and create a popup 
            function copyFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied link: " + copyText.value);
            }
        </script>
    </body>
</html>