{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Room - levanté!</title>
    <link rel="stylesheet" href="{% static 'roomCreate.css' %}">
</head>
<body>
    <div id="problem-description-center">
        <h1 id="levante-text"> levanté! </h1>
        <input id="problem-description" type="text" size="100" rows="20">
        <br>
    </div>
    <div id="create-button-center">
        <button id="create-button" onclick="setupRoom()">Press Enter to Create Room</button>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        var token = '{{csrf_token}}';
        const questionPlaceholder = "Type your brainstorming question here i.e. How might we?...";
        const tutorialQuestion = "Tutorial question (replace this)?";

        function initializeText() {
            // Initializes necessary fields for the question text box
            const questionElement = document.querySelector('#problem-description');
            const isTutorial = localStorage.getItem('isTutorial') === 'true' ? true : false;
            if (isTutorial == true) {
                questionElement.value = tutorialQuestion;
                questionElement.disabled = true;
            } else {
                questionElement.value = questionPlaceholder;
                questionElement.onclick = function(){clearText()};
            }
        }

        //simply clears the text for the Key to be entered
        function clearText() {
            if( document.querySelector('#problem-description').value == "Type your brainstorming question here i.e. How might we?...")
            document.querySelector('#problem-description').value = ""
        }
        function setupRoom() {
            problem = document.querySelector('#problem-description').value
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": token },
                url: '/add_question/',
                data: {
                    problem: problem,
                    room_id: localStorage.getItem('roomId')
                },
                success: function (response) {
                    
                },
            });
            window.location.pathname = window.location.pathname.split("create")[0] + "code"
        }

        initializeText();
        document.querySelector('#problem-description').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                setupRoom()
            }
        };
    </script>
</body>

</html>