<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Brain Room</title>
    </head>
    <body>
        <h2>Problem Description</h2><br>
        <input id="problem-description" type="text" size="100">
        <h3>Current Ideas</h3>
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send Idea"><br>
        <button onclick="nextPage()">Next Page</button>
        {{ room_name|json_script:"room-name" }}
        {{ user_name|json_script:"user-name" }}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>

            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const user = JSON.parse(document.getElementById('user-name').textContent);

           //Get problem description
           $.ajax({
                        type: 'GET',
                        url: '/get_question/',
                        success: function(response) {
                            document.querySelector('#problem-description').value = response;
                        },
                    });


            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/brainwriting/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if(data.user == user)
                    document.querySelector('#chat-log').value += ('['+data.user+']'+data.message + '\n');
                    const problem = document.querySelector('#problem-description').value;
                    // console.log(request.session);
                    $.ajax({
                        type: 'POST',
                        url: '/add_response/',
                        data: {
                            message: data.message,
                            problem: problem,
                        },
                        success: function(response) {
                            alert(response);
                        },
                    });
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'problem': null,
                    'user': user
                }));
                messageInputDom.value = '';
            };
            function nextPage(){
                window.location.pathname = '/rooms/' + roomName + '/'+user+'/nominate';
            }
             
                            
                


            function nextPage(){
                window.location.pathname = window.location.pathname + 'inspiration/';
            }
        </script>
    </body>
</html>