body{
background-color: #92a8d1;
overflow: auto;
}

header{
display: inline;
float: left;
margin: auto;
}

.main-container{
  margin-top: 30px;
  display: block;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.logo-title{
  margin: auto;
  width: 350px;
  height: auto;
  display: block;
}

.page-instructions{
  font-size: 30px;
  margin: 20px;
  font-style: italic;
  color: #8be8cb;
}

.problem-description{
  font-size: 30px;
  display: block;
  margin: auto;
  border: solid 2px  #06d6a0;
  text-align: center;
  width: 90%;
  height: fit-content;
  background-color: #06d6a0;
  border-radius: 10px;
  margin-top: 15px;
  color: #000933;
}

/* .timer{
  margin-top:100px;
  margin-right: 48.5%;
  float: right;
  border-style: solid;
  border-width: 5px;
} */
