<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Levante</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>


<header>
  Levante
</header>

<div class="ideaContainer0">
  <p>Inspiring Idea</p>
  <div class="leaderSign">
    <p>X (indicates group leader)</p>
  </div>
</div>

<div class="ideaContainer1">
  <p>Inspiring Idea</p>
</div>

<div class="ideaContainer2">
  <p>Inspiring Idea</p>
</div>

<div class="ideaContainer3">
  <p>Inspiring Idea</p>
</div>

<div class="timer">
  <p>This is a timer (60sc)</p>
</div>


<!-- How many random ideas will be shown ? What if 3 people wanted to use this ? -->

<button class="ideaButton" type="submitIdea" name="ideaButton">Skip or Next</button>
<!-- Vote and submit buttons will have the anonymity option -->



  </body>
</html>
