*{  margin: 0;
    padding: 0;
    outline: none;
    color: white;

}
body{
    background-color: #073b4c;
    overflow: hidden;
}
#logo-image{
    display:block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 65%;
}
#main-container{
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    position: fixed;
}

/*Above code works fine if you delete sub container div from html*/
#sub-container{
    text-align: center;
    margin-top: -50%;
    width: 100%;
}
#room-name-input{
    
    margin-top: 40px;
    font-size: 2vw;
    text-align: center;
    height: 40px;
    width: 35%;
    border-radius: 100px;
    background-color: #073b4c;
    border: solid 2px #073b4c;
    margin-bottom: 1%;
}
#room-name-submit{
    font-size: 2vw;
    text-align: center;
    height: 40px;
    width: 30%;
    border-radius: 100px;
    background-color: #06d6a0;
    border: solid 2px #06d6a0;
    margin-bottom: 50px;

}
#bottom-inputs{
    margin-top: 200px;
}
#log-in{
    font-size: 2vw;
    text-align: center;
    height: 35px;
    width: 40%;
    border-radius: 100px;
    background-color: #06d6a0;
    border: solid 2px #06d6a0;
    margin-bottom: 1%;

}
#create-room{
    font-size: 2vw;
    text-align: center;
    height: 35px;
    width: 40%;
    border-radius: 100px;
    background-color: #06d6a0;
    border: solid 2px #06d6a0;
}