*{  
    outline: none;
    color: white;
}
html,body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #073b4c;
    overflow: hidden;
    color: white;
}


#main-container{
    width: 92.5%;
    height: 100%;
    display: block;
    margin: auto;

 
}

#problem-description{
    background-color: #f36c6d;
    width: 90%;
    height: 300px;
    margin-left: 3.75%;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    border: solid 15px #06d6a0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#create-button{
    font-size: 2vw;
    text-align: center;
    height: 50px;
    width: 40%;
    border-radius: 100px;
    background-color: #06d6a0;
    border: solid 2px #06d6a0;
    margin-left: 30%;
    margin-top: 30%;
}


#levante-text{
    font-size: 3vw;
}


#button-container{
    width:50%;
    text-align: center;
    margin-left:25%;
    position: absolute;
    top: 90%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
}
#create-room{
    font-size: x-large;
    background-color: #06d6a0;
    width: 70%;
    height: 70px;
    border-radius: 100px;
}
#levante-text{
    font-style: italic;
    font-size: 500%;
    background: -webkit-linear-gradient(#118ab2, #097497);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
    text-align: center;

}